.custom-nav {
    padding: 22px 0px;
    width: 100%;
    border-radius: 0px;
    z-index: 999;
    margin-bottom: 0px;
    transition: all 0.5s ease-in-out;
    background-color: transparent;
}

.custom-nav.stickyadd {
    background-color: $white;
    padding: 15px 0;
    box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);
}

.custom-nav .navbar-nav li a {
    color: $white;
    font-size: 16px;
    border-bottom: 3px solid transparent;
    background-color: transparent !important;
    padding: 7px 0 !important;
    position: relative;
    margin: 0 18px;
    font-weight: 600;
    transition: all 0.4s;
}

.custom-nav .navbar-nav li.active a,
.custom-nav .navbar-nav li:hover a,
.custom-nav .navbar-nav li:active a {
    border-color: $primary;
    color: $primary;
}

.custom-nav.stickyadd .navbar-nav li.active a,
.custom-nav.stickyadd .navbar-nav li:hover a,
.custom-nav.stickyadd .navbar-nav li:active a {
    border-color: $primary;
    color: $primary;
}

.navbar-toggler {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 0px;
    color: $white;
}

.custom-nav.stickyadd .navbar-nav li a {
    color: $black;
}

.navbar-toggle {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 0px;
    color: $white;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background-color: transparent;
    border-color: $primary;
}

.logo .logo-light {
    display: inline-block;
}

.stickyadd .logo .logo-dark {
    display: inline-block;
}

.stickyadd .logo .logo-light {
    display: none;
}

.logo .logo-dark {
    display: none;
}

.custom-nav .navbar-brand.logo img {
    height: 28px;
}