.services_boxes {
    padding: 15px;

    .services_icon {
        i {
            font-size: 36px;
            height: 60px;
            width: 60px;
            line-height: 60px;
            background: rgba(19, 206, 103, 0.15);
            ;
            border-radius: 10px 10px 0px;
        }
    }

    .services_desc {
        a {
            i {
                position: relative;
                top: 1px;
            }
        }
    }
}